<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <% @list.each do |bookmark| %>
           <ul> 
           <a href=<%= bookmark.url %>><%=bookmark.title %></a>
           <form action="/delete" method="delete">
           <input type="hidden" name="title" value=<%= bookmark.title %>>
           <button type="submit">Delete</button>
        </form>
           </ul>
        <% end %>
    </body>
</html>