<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <% @list.each do |bookmark| %>
           <ul> 
           <a href=<%= bookmark.url %>><%=bookmark.title %></a>
            <form action="/bookmarks/<%=bookmark.id[0]%>" method="post">
            <p><%=bookmark.id[0]%><p>
                <input id="hidden" type="hidden" name="_method" value="delete">
                <input type="submit" value="delete">
            </form>
           </ul>
        <% end %>
    </body>
</html>